<% provide(:title, "ログイン")%>
<h1>ログイン画面</h1>
<div class="row justify-content-around">
  <div class="col-md-5">
    <div class="text-center">
      <img src="assets/instagram" class="img-fluid rounded" alt="Instagram Picture">
    </div>
  </div>
  <div class="my-auto col-md-5 align-self-stretch">
    <%= form_with scope: :session, url: login_path, local: true do |f| %>
      <div class="my-4 form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: "form-control", id: "email", type: "email", aria: { describedby: "emailHelp"}, placeholder: "メールアドレス" %>
        <small id="emailHelp" class="form-text text-muted">あなたのメールアドレスを不正悪用したりしません</small>
      </div>
      <div class="mb-4 form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.text_field :password, class: "mb-2 form-control", id: "password", type: "password", placeholder: "パスワード" %>
        <p><%= link_to "パスワードを忘れましたか？", new_password_reset_path %></p>
      </div>
      <div class="mb-4 form-group form-check">
        <%= f.check_box :remember_me, class: "form-check-input", id: "exampleCheck1" %>
        <%= f.label :remember_me, "次回から自動的にログインする", class: "form-ckeck-label", for: "exampleCheck1"%>
      </div>
      <div class="mb-4 center">
        <%= f.submit "ログイン", class: "mb-4 btn btn-primary" %>
        <p>アカウントをお持ちではないですか？<%= link_to "登録する", signup_path, class: "m-1 btn btn-primary"%></p>
      </div>
    <% end %>
    <div class="center">
        <%= link_to "Facebookでログインする", "/auth/facebook", class: "btn btn-primary badge-pill" %>
    </div>
  </div>
</div>