<% provide(:title, "通知") %>
<%= render 'layouts/header' %>

<h1>通知</h1>

<%= link_to destroy_all_path, method: :delete do %>
  <h5>全削除</h5>
<% end %>

<%= will_paginate %>

<ul class="notifications">
  <%= render '/notifications/notification' %>
</ul>

<%= will_paginate %>

<%= form_with url: notifications_path, local: true do |f| %>
  <div class="mb-4 form-group form-check">
    <%= f.check_box :notification, class: "form-check-input", id: "exampleCheck1" %>
    <%= f.label :notification, "通知設定を切り替える", class: "form-ckeck-label", for: "exampleCheck1"%>
  </div>
  <div class="mb-4 center">
    <%= f.submit "変更", class: "mb-4 btn btn-primary" %>
  </div>
<% end %>