<% provide(:title, "新規登録") %>
<h1>新規登録画面</h1>
<div class="row justify-content-center">
  <div class="p-5 col-md-5">
    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="mb-3 form-group">
        <%= f.label :name, "ユーザーの名前" %>
        <%= f.text_field :name, class: "form-control", id: "name", aria: { describedby: "emailHelp"}, placeholder: "ユーザーの名前" %>
      </div>
      <div class="mb-3 form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class: "form-control", id: "email", type: "email", aria: { describedby: "emailHelp"}, placeholder: "メールアドレス" %>
      </div>
      <div class="mb-3 form-group">
        <%= f.label :password, "パスワード" %>
        <%= f.text_field :password, class: "form-control", id: "password", type: "password", placeholder: "パスワード" %>
      </div>
      <div class="mb-3 form-group">
        <%= f.label :password, "パスワードの確認" %>
        <%= f.text_field :password_confirmation, class: "form-control", id: "password_confirmation", type: "password", placeholder: "パスワードの確認" %>
      </div>
      <small id="emailHelp" class="mb-3 form-text text-muted">確認のために再度同じパスワードを入力してください。</small>
      <div class="center">
        <%= f.submit "新規登録", class: "mb-3 btn btn-primary" %>
      </div>
    <% end %>
    <div class="center">
      <p>アカウントをお持ちですか？<%= link_to "ログインする", login_path, class: "m-1 btn btn-primary"%></p>
    </div>
  </div>
</div>